
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Paperwala Application</title>
</head>
<body>
    <div style="margin:0% 32% 25% 26% ;padding:10% 10% 10% 10%"> 
        <div style="padding:40px 32px 32px 40px;border:13px solid black;">
            <a href="~/LoginDistributor/LoginDistributor" style="text-decoration:none;font-family :Cambria;font-size:24px;font-weight:700;text-align:center;"> Distributor LogIn </a> 
            </div>
        <div style="padding:40px 32px 32px 40px;border:13px solid black; margin-top:10px;">
            <a href="" style="text-decoration:none;font-family :Cambria;font-size:24px;font-weight:700;"> Retailer LogIn </a>
        </div>
        <div style="padding:40px 32px 32px 40px;border:13px solid black;  margin-top:10px;">
            <a href="" style="text-decoration:none;font-family :Cambria;font-size:24px;font-weight:700;"> Customer LogIn </a>
        </div>
        </div>
</body>
</html>
